/* First import our styles to override everything else. */

/* Import other style sheets. */

body {
	margin: 0;
}

#app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
